.allBlogs {
    /* background-color: aliceblue; */
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.allBlogs > h3 {
    padding-bottom: 20px;
    letter-spacing: 1px;
    margin-left: 25px;
    font-size: 25px;
}

.allBlogs__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 60px;
}


@media (max-width: 1200px) {
    .allBlogs__content {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (max-width: 767px) {
    .allBlogs__content {
        grid-template-columns: 1fr;
    }
    
}


