.blog {
    border: 1px solid lightgrey;
    width: 300px;
    border-radius: 5px;
}

.blog > img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.blog__details {
    padding: 10px;
    margin-bottom: 20px;
}

.blog__title {
    font-size: 15px;
}

.blog__date {
    font-size: 12px;
    color: rgb(141, 132, 132);
    padding: 5px 0px 10px 0px;
}

.blog__description {
    font-size: 15px;
}

.blog__read {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid lightgrey;
}

.blog__read > p {
    font-size: 13px;
    color: rgb(141, 132, 132);
}

.blog__read > h4 {
    font-size: 15px;
    color: rgb(60, 132, 156);
    cursor: pointer;
}