.blogPage {
    margin: 80px;
}

.blogPage__header {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.blogPage__header > p {
    color: blue;
    cursor: pointer;
}

.blogPage__content {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.blogPage__content > img {
    width: 680px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.blogPage__content > h5 {
    margin-bottom: 35px;
}

@media (max-width: 1200px) {
    .blogPage {
        margin: 20px;
    }
    .blogPage__content {
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

@media (max-width: 767px) {
    .blogPage__content {
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .blogPage__content > img {
        width: 320px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .blogPage__header {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}