.footer {
    background-color: teal;
    padding: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer__terms {
    display: flex;
    margin-top: 35px;
}

.footer__terms > p {
    margin-right: 20px;
    font-size: 13px;
}

.footer__icon {
    background-color: gray;
    margin-right: 10px;
    padding: 15px;
    border-radius: 100px;
}

.footer__right > p {
    margin-top: 10px;
    font-size: 13px;

}


