.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
    border-bottom: 1px solid lightgrey;
}

.header__btns > button {
    /* background-color: transparent; */
    border-radius: 5px;
    padding: 10px;
    width: 135px;
    margin-right: 25px;
    border: 2px solid teal;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s
}

.active {
    background-color: teal;
    color: white;
}

.header__btns > button:hover {
    color: white;
    background-color: teal;
    transition: all 0.5s;
}

@media (max-width: 1200px) {
    .blogPage {
        margin: 20px;
    }
    .blogPage__content {
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

@media (max-width: 767px) {
    .header__btns > button {
        border-radius: 5px;
        padding: 10px;
        width: 100px;
        margin-right: 2px;
    }
    
}