.login {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-evenly;
    /* margin-bottom: 20px; */
}

.login__container {
    /* background-color: whitesmoke; */
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    padding: 20px;
}

.login__header {
    display: flex;
    justify-content: flex-end;
}  

.login__header > h2 {
    margin-right: 120px;
}

.login__form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.login__form > input {
    padding: 10px;
    border: none;
    background-color: whitesmoke;
    border-radius: 5px;
}

.login__form > button {
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 10px;
}

.login__forgotpw {
    margin-bottom: 20px;
    font-size: 13px;
    color: rgb(102, 90, 90);
}

.login__register {
    font-size: 15px;
}


